<div ng-app="conferenceList" ng-controller="conferenceController" class="container">
    <h2>Список секций конференции</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор сервера</th>
                <th>Название секции</th>
                <th>Город</th>
                <th>Местоположение</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in conferenceList | orderBy : 'section'" ng-include="getTemplate(x)">

            </tr>
            <tr>
                <td><input type="text" class="form-control" ng-model="section" /></td>
                <td><input type="text" class="form-control" ng-model="name"/></td>
                <td><input type="text" class="form-control" ng-model="city"/></td>
                <td><input type="text" class="form-control" ng-model="location"/></td>
                <td><button class="btn" ng-click="addSection()">Добавить</button></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    var app = angular.module('conferenceList', []);
    app.controller('conferenceController', function ($scope, $http) {
        $scope.selected = {};
        $http.get("/conference/info").then(function (responce) {
            $scope.conferenceList = responce.data;
        });
        $scope.getTemplate = function (section) {
            if (section.section == $scope.selected.section)
                return '/home/edit';
            else
                return '/home/display';
        };
        $scope.addSection = function () {
            $http.post("/conference/" + $scope.section + "/info", { 'name': $scope.name, 'city': $scope.city, 'location': $scope.location })
                .then(function (responce) {
                    $scope.conferenceList.push({ 'section': $scope.section, info: { 'name': $scope.name, 'city': $scope.city, 'location': $scope.location } });
                }, function (responce) {
                    alert(responce.data.message);
                });
        };
        $scope.edit = function (section) {
            $scope.selected = angular.copy(section);
            console.log($scope.selected);
        };
        $scope.cancel = function (section) {
            $scope.selected = {};
        }
        $scope.save = function (index) {
            $http.put("/conference/" + $scope.selected.section + "/info", { 'name': $scope.selected.info.name, 'city': $scope.selected.info.city, 'location': $scope.selected.info.location })
                .then(function (responce) {
                    $scope.conferenceList[index] = angular.copy($scope.selected);
                    $scope.cancel();
                }, function (responce) {
                    alert(responce.data.message);
                    $scope.cancel();
                });
        }

    });
</script>
